{% extends "users/base.html" %}


{% block container %}

    {% if form.errors %}
        <p class="alert alert-danger">
            Your username and password didnt match, please try again.
        </p>
    {% endif%}



    <!-- Con el tag especial de action, ponemos solo el valor de la propiedad path, es útil cuando se cambia el endpoint -->
    <form method="POST" action="{% url "users:login" %}">

    <!-- El name es el valor que se recibe del lado del servidor el placeholder lo que se muestra -->
        {% csrf_token %}
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password">
        </div>  

        <button class="btn btn-primary btn-block mt-5" type="submint">Sign in</button>


    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign up here!</a> </p>
{% endblock %}
